.styleButton {
    margin: 20px 10px;
    padding: 6px 20px;
    border: 2px dashed black;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    background-color: #deb887;
    box-shadow: 1px 1px 1px 2px #6666;
    transition: ease-in-out 0.2s;
}

.styleButton:hover {
    background-color:rgb(233, 209, 177) ;
}

.styleButton:active {
    box-shadow: inset 1px 1px 1px 2px #6666;
} 